.avatar	{
	width: 25vh;
	height: 25vh;
	border-radius: 50vh;
	box-shadow: 5px 5px 10px #acacac;
	opacity: 0.9;
}

.avatar:hover {
		opacity: 0.8;
}

body {
	margin: 10;
	font-family: helvetica;
	background-color: #d6d8d7;
}

H1 {
	font-weight: 100px;}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height : 100vh;
	flex-direction: column;
}
